@import 'other/variable';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:ital@1&display=swap');

/*  
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
                                        */
body
{
    color: $font-color;
	background-color: $bg-color;
    font-family: 'Inter' , sans-serif;
}

.card
{
    background-color: $card-color;
    height: 400px;
    width: 1000px;
    margin: 110px auto;
    border-radius: 10px;
    display: flex;
}

.card-in1
{
    border-radius: 10px;
    height: 400px;
    width: 500px;
    background-position: fixed ;
    background-color: $card-color
}

.card-in2
{
    @extend .card-in1;
    background-color: $card-color;
    background-image: url(images/image-desk.jpg);
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    background-blend-mode: hard-light;
}

.card-head
{
    height: 300px;
    width: 400px;
    padding-left: 70px;
    padding-top: 40px;
}

.heading span
{
    color: $layer-color;
}

.heading
{
    font-size: 16px;
}

.card-para
{
    color: $head-color;
    font-family: 'Inter';
    font-size: 13.5px;
    font-weight: lighter;
    line-height: 1.5;
    word-spacing: 0.5px ;
}

.card-list
{
    width: 350px;
    height: 200px;
    margin-top: 50px;
}

.card-list ul li
{
    padding: 0px;
    list-style-type: none;
}

.card-list ul
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    padding-right: 35px;
}

.score-1
{
    font-weight: bold;
    font-size: 21px;
    font-family: "Inter";
}

.score-2
{
    font-weight: lighter;
    font-size: 10px;
    color: $head-color;
    letter-spacing: 1.5px;
}

